
body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
	background-color: #000000;
}

#three {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	position: fixed;
	background-color: #000000;
	z-index: 1;
}

.btn-circle {
	position: fixed;
	top: 75vh;
	right: 2vw;
  display: inline-block;
  text-decoration: none;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
	background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
	z-index: 4;
}

.btn-circle:hover {
	background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}

.btn-gradient {
	position: relative;
	transform:  translateX(-50%);
	top: 50%;
	left: 50%;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
  transition: .4s;
}

.btn-gradient:hover {
  background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}

.box {
	width: auto;
	height: 100vh;
	min-height: 100%;
	padding: 30px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	font-size: 2em;
	color: #ffffff;
	display: block;
}


h1{
	text-align: center;
	display: block;
	font-size: 100px;
	font-family: 'Red Hat Display', sans-serif;
}

h2 {
	text-align: center;
	display: block;
	font-size: 70px;
	margin: 0;
	font-family: 'Red Hat Display', sans-serif;
}

h3{
	margin: 0;
	font-size: 40px;
	line-height: 1;
	font-family: 'Red Hat Display', sans-serif;
}

h4{
	margin: 0;
	font-size: 25px;
	font-family: 'Noto Serif JP', sans-serif;
	padding-top: 16px;
	padding-left: 16px;
	line-height: 1;
}

p,dl,dt,dd{
	font-family: 'Noto Serif JP', sans-serif;
	display: block;
	font-size: 19px;
	text-align: center;
}

dl,dt,dd{
	line-height: 2.0em;
}

@media screen and (max-width: 767px){
	h1{
		font-size: 60px;
		text-align: justify;
	}
	h2{
		font-size: 30px;
	}
	h4{
		font-size: 20px;
		padding-top: 10px;
	}
	p,dl,dt,dd{
		font-size: 15px;
	}
	.btn-circle {
		width: 100px;
		height: 100px;
		line-height: 95px;
		top: 75vh;
		right: 5vw;
	}

	.sp_br{
		display: none;
	}

	dl,dt,dd{
		text-align: left;
	}
}
@media screen and (min-width: 767px) {
	.sp_br {
		display: none;
	}
}

.iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 75%; /* = height ÷ width × 100 */
}

.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-columns {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
}

.box-columns .box-columns__column{
	width: 50%;
	padding-left: 25px;
	padding-right: 25px;
	box-sizing: border-box;
}

.box-columns__column--figure{
	display: block;
	margin: 0;
}

.box-columns__column--figure img{
	display: block;
	margin: 0;
	width: 100%;
}
.box-columns__column--num{
	display: flex;
	flex-wrap: wrap;
}
.box-columns__column--text{
	padding-left: 75px;
}
.box-columns__column--text p{
	text-align: left;
}

@media screen and (max-width: 767px) {
	.box-columns {
		display: flex;
	}

	.box-columns:nth-child(3) {
		flex-direction: column-reverse;
	}

	.box-columns .box-columns__column{
		width: 100%;
	}

}
.stayimg{
	margin: 30px;
}

.stayimg img{
	width: 100%;
}
.btn-middle{
	margin: 50px;
}
.btn-middle h4{
	text-align: center;
	margin-bottom: 15px;
}
.slider-wrap{
	margin: 20vh 0;
}
@media screen and (max-width: 768px) {
	.slider-wrap {
		margin:5vh 0;
	}
}

.slider-wrap img{
  display: block;
	width: 100%;
	height: 20vw;
	object-fit: cover;
}

@media screen and (max-width: 767px) {

	.slider-wrap img {
		height: 40vw;
	}
}

#boxA a{
	position: absolute;
  bottom: 20vh;
  left: 48%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
	color: #ffffff;
	font-size: 15px;
	font-family: 'Red Hat Display', sans-serif;
}
#boxA a span {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  margin-left: -32px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#boxB h2{
	font-family: 'Red Hat Display', sans-serif;
}
#boxB p{
	margin: 0 100px;
	line-height: 3em;
}
@media screen and (max-width: 767px) {

	#boxB p {
		margin: 0;
		text-align: left;
		letter-spacing: 0.1em;
	}
}

#boxC {
	height: 200vh;
}

@media screen and (max-width: 768px) {
	#boxC {
		height:100vh;
	}
}

#boxD {
	height: 250vh;
}
@media screen and (max-width: 768px) {
	#boxD {
		height:130vh;
	}
}


@media screen and (max-width: 768px) {
	#boxE {
		height:70vh;
	}
}

@media screen and (max-width: 768px) {
	#boxF {
		height:30vh;
	}
}

#boxG {
height: 200vh;
}

@media screen and (max-width: 768px) {
	#boxG {
		height:100vh;
	}
}

#boxH {
	height: 20vh;
	/* background-color: purple; */
}

.footer__main{
  margin-left: auto;
  margin-right: auto;
}

.footer__main__logo{
  height: auto;
  width: auto;
  display:block;
}

.footer__main__name{
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: .1em;
	text-align: left;
	margin: 0;
	font-family: 'Red Hat Display', sans-serif;
}

.footer__main__text{
  margin-bottom: 25px;
  font-size: 11px;
  line-height: 1.7;
  letter-spacing: .05em;
	text-align: left;
}

.copyright__text{
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10px;
  letter-spacing: .05em;
  text-align: center;
	color: #ffffff;
}

svg{
	height: 60px;
	fill: #ffffff;
}
